@model SocialModel
<ul class="flex flex-row gap-2 justify-end networks text-gray-500">
  @if (!string.IsNullOrEmpty(Model.FacebookLink))
  {
    <li class="facebook hover:text-white">
      <a href="@Model.FacebookLink" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
  }
  @if (!string.IsNullOrEmpty(Model.TwitterLink))
  {
    <li class="twitter hover:text-blue">
      <a href="@Model.TwitterLink" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
  }
  @if (Model.NewsEnabled)
  {
    <li class="rss hover:text-white">
      <a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})">
        <i class="fas fa-rss"></i>
      </a>
    </li>
  }
  @if (!string.IsNullOrEmpty(Model.YoutubeLink))
  {
    <li class="youtube hover:text-white">
      <a href="@Model.YoutubeLink" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-youtube"></i>
      </a>
    </li>
  }
  @if (!string.IsNullOrEmpty(Model.InstagramLink))
  {
    <li class="instagram hover:text-white ">
      <a href="@Model.InstagramLink" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  }
</ul>
